.jg-cndrop-show{
  /* position: absolute;  */
  /* inset: 0px 0px auto auto;  */
  /* margin: 0px; 
  transform: translate3d(0px, 40px, 0px); */
  /* top: -40px; */
}

.jg-toggle::before{
  font-size: 20px;
}
.jg-aside-show{
  right: 0;
}
.tyn-aside-row .nav-link::before{
  font-size: 20px;
  font-weight: 700;
}

.tyn-reply-bubble > *:first-child:not(:only-child){
  max-width: 40rem;
}

.tyn-aside-members{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: auto;
}
.tyn-aside-member{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.tyn-aside-member-name{
  font-size: 10px;
  margin-top: 2px;
  width: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.tyn-group-avatars{
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 2px;
  padding: 10px;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-content: center;
}
.tyn-group-avatar{
  height: 30%;
  width: 30%;
  background-size: cover;
  border-radius: 2px;
  background-repeat: no-repeat;
  margin: 2px;
}
.tyn-avatar{
  position: relative;
}
.tyn-avatar > .inner {
  overflow: hidden;
  border-radius: var(--radius);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ffffff -300%, var(--color-user));
  color: #FFF;
  border-radius: 50%;
  font-weight: 600;
}
.jg-peer-color-0{
  --color-user: #D45246;
}
.jg-peer-color-1{
  --color-user: #F68136;
}
.jg-peer-color-2{
  --color-user: #6C61DF;
}
.jg-peer-color-3{
  --color-user: #46BA43;
}
.jg-peer-color-4{
  --color-user: #5CAFFA;
}
.jg-peer-color-5{
  --color-user: #408ACF;
}
.jg-peer-color-6{
  --color-user: #D95574;
}
.tyn-s-avatar .inner{
  font-size: 1.6rem;
}
.jg-size-md{
  height: var(--tyn-size) !important;
  width: var(--tyn-size) !important;
}